
.map-container {
    display: flex;
    height: 500px;
}

#map {
    flex: 0 0 80%; /* Ocupa el 80% del espacio disponible */
    height: 100%;
   
}


.side-container {
    flex: 1; /* Ocupa el resto del espacio disponible */
    background-color: rgb(137, 37, 40);
    display: flex;
    flex-direction: column; /* Alinear el contenido en columna */
    justify-content: flex-start; /* Alinear el contenido al principio */
    align-items: center;
    padding: 20px; /* Espaciado interno para separar el contenido de los bordes */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total del contenedor */
    color: white;
    margin-right: 20px;
}

.ruta-instrucciones-container {
    display: flex;
    background-color: rgb(137, 37, 40);
    padding: 20px; /* Espaciado interno para separar el contenido de los bordes */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total del contenedor */
    color: white;
    width: 90%;
    height: 30vh;
    display: flex;
    margin: 0 auto;
}

.nav-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Espacio entre los botones */
    margin-bottom: 20px; /* Espacio debajo de los botones */
}

.nav-button-R {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    flex: 1; /* Hacer que los botones ocupen todo el ancho disponible */
    margin: 0 5px; /* Espacio entre los botones */
}

.titulo {
    margin: 0 0 20px 0; /* Márgenes: sin margen superior ni lateral, y 20px inferior */
    text-align: center; /* Centrar el texto */
}

.instrucciones {
    width: 100%; /* Ocupa todo el ancho disponible */
    background-color: lightgray; /* Solo para visualización */
    text-align: left; /* Alinear el texto al centro */
    padding: 20px; /* Espaciado interno opcional */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total del div */
    color: black;
}



.legend {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* Añadir bordes redondeados */
    z-index: 1000;
    /* Ajustar según sea necesario */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Aumentar el espacio entre elementos */
    color: #333;
    /* Color de texto más oscuro para mejor legibilidad */
}

.legend-item:last-child {
    margin-bottom: 0;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    /* Hacer el cuadro de color redondeado */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(211,175, 109);
}

header {
    background-color: lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 50px;
    margin-right: 5px;
}
.busR {
    height: 50px;
    margin-right: 5px;
}
.busL {
    height: 50px;
    margin-right: 5px;
    transform: scaleX(-1);
}
header h1 {
    flex-grow: 1;
    font-size: 24px;
    color: #333;
}

.nav-button {
    background-color: rgb(137, 37, 40);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.map-container {
    margin: 20px;
}

.legend {
    margin: 20px;
    display: flex;
    gap: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
}

.legend-green {
    background-color: green;
}

.legend-blue {
    background-color: blue;
}

.instrucciones {
    margin: 20px;
}


h1 {
    font-size: 2.5em;
    color: #4CAF50;
    border-bottom: 2px solid rgb(211,175, 109);
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.map-container {
    flex: 1;
    min-width: 300px;
    height: 500px;
    background: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map {
    width: 100%;
    height: 100%;
}

.routes-container {
    flex: 1;
    min-width: 300px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.routes-container h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #4CAF50;
    display: inline-block;
    padding-bottom: 5px;
}



#routes-list {
    list-style: none;
}

#routes-list li {
    background: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

#routes-list li:hover {
    background: #45a049;
}

#show-all-routes {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#show-all-routes:hover {
    background-color: #45a049;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}

.show {
    display: block;
}

.Opcion {
    padding: 10px;
    margin-left: 60px;
}

#pac-input {
    margin-top: 10px;
    padding: 5px;
    width: 300px;

}

#pac-input-2 {
    margin-top: 10px;
    padding: 5px;
    width: 300px;
    display: none;
}

#map {
    height: 500px;
    width: 100%;
}

/* Mostrar el segundo input cuando el checkbox esté marcado */
#checkbox:checked~#pac-input-2 {
    display: inline-block;
}
